{% sw_extends '@Storefront/email/base.html.twig' %}

{% block content %}
    <p>
        {{ "mail.user.recovery.request"|trans({
            '%firstName%': customerRecovery.user.firstName,
            '%lastName%': customerRecovery.user.lastName,
            '%link%': resetUrl
        })|sw_sanitize }}
    </p>
{% endblock %}

