[submodule "custom/plugins/KreatifSW"]
	path = custom/plugins/KreatifSW
	url = git@bitbucket.org:kreatifbz/kreatifsw.git
[submodule "custom/plugins/KreatifWishlist"]
	path = custom/plugins/KreatifWishlist
	url = git@bitbucket.org:kreatifbz/kreatifwishlist.git
[submodule "custom/plugins/KreatifLoginRedirect"]
	path = custom/plugins/KreatifLoginRedirect
	url = git@bitbucket.org:kreatifbz/kreatifloginredirect.git
[submodule "custom/plugins/SwagPayPal"]
	path = custom/plugins/SwagPayPal
	url = git@github.com:kreatifIT/SwagPayPal.git
[submodule "custom/plugins/OLCService"]
	path = custom/plugins/OLCService
	url = git@bitbucket.org:kreatifbz/olc-service.git

[submodule "custom/plugins/MolliePayments"]
	path = custom/plugins/MolliePayments
	url = git@bitbucket.org:kreatifbz/molliepayments.git
[submodule "custom/plugins/StripeShopwarePayment"]
	path = custom/plugins/StripeShopwarePayment
	url = git@bitbucket.org:kreatifbz/stripeshopwarepayment.git
