{% sw_extends '@Storefront/email/base.html.twig' %}

{% block content %}


    <p>
        {{ "mail.order_transaction.state.paid_partially"|trans({
            '%letterName%': order.orderCustomer.salutation.translated.letterName,
            '%firstName%': order.orderCustomer.firstName,
            '%lastName%': order.orderCustomer.lastName,
            '%orderNumber%': order.orderNumber,
            '%salesChannel%': salesChannel.translated.name,
            '%status': order.transactions.first.stateMachineState.translated.name,
            '%link%': rawUrl('frontend.account.order.single.page', { 'deepLinkCode': order.deepLinkCode }, salesChannel.domains|first.url)
        })|sw_sanitize }}
    </p>
{% endblock content %}
