{% sw_extends '@Storefront/email/base.html.twig' %}

{% block content %}
    <br/>
    <p>
        {{ "mail.customer.group.registration.declined"|trans({
            '%letterName%': customer.salutation.letterName,
            '%lastName%': customer.lastName,
            '%group%': customerGroup.translated.name })|sw_sanitize }}
    </p>
{% endblock %}
